<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>gtsmokers | {{ title }}</title>
    <link rel="stylesheet" href="/style.css"/>
    <style>
        *, *::before, *::after {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }
        h1, h2 {
            font-size: 2rem;
        }
        img {
            width: 600px;
        }
        header {
            height: 100px;
            background-color: darkblue;
            color: white;
            position: fixed;
            top: 0;
            width: 100%;
            display: flex;
            padding: 20px;
        }
        header {
            display: flex;
        }
        header h2 {
            flex-grow: 1;
        }
        nav {
            flex-grow: 0;
            display: flex;
            gap: 20px;
        }
        nav a {
            text-decoration: none;
            color: white;
        }
        main {
            margin-top: 120px;
        }
        .content-wrapper {
            margin-left: 20px;
            margin-right: 20px;
        }
    </style>
</head>
<body>
<header>
    <h2>GTSmokers Fabrication</h2>
    <nav>
        <a href="#">Page 1</a>
        <a href="#">Page 2</a>
        <a href="#">Page 3</a>
    </nav>
</header>
<main>
    {{ content | safe }}
</main>
</body>
</html>